<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<p>
<% if @user.twitter_id %>
  <strong><%= @user.nickname %></strong> ( <a href="<%= @user.twitter_url %>" target="_blank"><%= @user.twitter_url %></a> )
<% else %>
  <strong><%= @user.nickname %></strong> ( <a href="<%= @user.github_url %>" target="_blank"><%= @user.github_url %></a> )
<% end %>
invites you to their <strong><%= @invitation.app.name %></strong> app on Delight.
</p>

<p>
  Personal message from <%= @user.nickname %>: <br/>
  <%= @invitation.message %>
</p>

<p>
  What's Delight?<br/>
  <a href="http://delight.io" target="_blank">Delight</a> enlightens developers and designers on how their users interact with their iOS applications. We seamlessly record your application screen and automatically capture all gestures. These recordings are then uploaded in the background to our server for viewing.
</p>

<p>
  To accept the invitation, please follow the link below:<br/>
  <%= link_to @invitation_url, raw(@invitation_url), :target => "_blank" %>
</p>

<p>
  Thanks!<br/>
    <a href="http://delight.io" target="_blank">http://delight.io</a><br/>
    iOS remote usability testing framework<br/>
    Follow us on Twitter: <a href="http://twitter.com/delightio" target="_blank">@delightio</a>
    What people are saying about us: <a href="twitter.com/delightio/favorites" target="_blank">@delightio/favorites</a>
</p>

</body>
</html>
