<h1>Listing app_sessions</h1>

<table>
  <tr>
    <th>App Session id</th>
    <th>App name</th>
    <th>App user id</th>
    <th>App version</th>
    <th>Delight version</th>
    <th>Duration</th>
    <th>Video id</th>
    <th>Video URI</th>
  </tr>

<% @app_sessions.each do |app_session| %>
  <tr>
    <td><%= app_session.id %></td>
    <td><%= app_session.app.name %></td>
    <td><%= app_session.app_user_id %></td>
    <td><%= app_session.app_version %></td>
    <td><%= app_session.delight_version %></td>
    <td><%= app_session.duration %></td>
    <td><%= app_session.video.id if app_session.video %></td>
    <td><%= app_session.video.uri if app_session.video %></td>

    <td><%= link_to 'Show', app_session %></td>
  </tr>
<% end %>
</table>

<br />
