<div class="container" style="width:100%">
  <div class="row">
    <div class="span9">
      <div class="row" style="position:relative">
        <div class="span3">
          <div class="btn-group">
            <a href="javascript:void(0)" id="rotate--90" class="btn btn-primary">-90</a>
            <a href="javascript:void(0)" id="rotate-0" class="btn btn-primary">0</a>
            <a href="javascript:void(0)" id="rotate-90" class="btn btn-primary">90</a>
            <a href="javascript:void(0)" id="rotate-180" class="btn btn-primary">180</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span9" id="videos-container" style="text-align:center;overflow:hidden;height:450px">
          <div class="video-container" style="width:50%;height:100%;float:left">
            <video class="track-video" id="presentation-track-video" style="width:100%;max-height:80%;max-width:100%;float:left" autoplay>
            <!--source src="<%= @track.presigned_read_uri if @track and @track.presigned_read_uri %>" type='video/mp4' /-->
            <source src="https://s3.amazonaws.com/delight_upload_staging/session_273_presentationtrack.mp4?AWSAccessKeyId=ASIAIUTGZR6PEN3HCI5Q&Expires=1338806099&Signature=QsCsBQWhf4jsPxuggarNNavKMnA%3D&x-amz-security-token=AQoDYXdzEFoa8AFLJwUh%2FHMDy7qrX%2FXcSqbHVQ2IlX%2B3bAX5b%2BdB1PENXDK4kJs59ilF5SZXT283TWfhJwVscqyRKqZ47%2FDUVRKJ1%2FtyBOaxPNKONA%2F460W175LgvkOrG3SsyRpJ5WNw4D4DZMCu0jTFb%2BybQWGNViOl1ubppB36GBio6vWF0AHLjXZylD3EDs2w7EW2KPPMk5ELsw%2F%2BWdg8Aq2sCVV%2FNWRR0JZ2xYV9L1BSGGLYH0tXsvCLUFAlh88jq4%2FZ1eZXcXEx8sX%2BORoMIDzPucp7rp%2FAkrn1uQNhKuWMNDZjODBqefMHb7%2FuuAQffB%2FEZ631054gkvOx%2FgQ%3D" type='video/mp4' />
            Your browser does not support video tag.
            </video>
          </div>
          <div class="video-container" style="width:50%;float:left">
            <video class="track-video" id="presentation-track-video2" style="width:100%;max-height:80%;max-width:100%;float:left" autoplay>
            <source src="https://s3.amazonaws.com/delight_upload_staging/session_273_presentationtrack.mp4?AWSAccessKeyId=ASIAIUTGZR6PEN3HCI5Q&Expires=1338806099&Signature=QsCsBQWhf4jsPxuggarNNavKMnA%3D&x-amz-security-token=AQoDYXdzEFoa8AFLJwUh%2FHMDy7qrX%2FXcSqbHVQ2IlX%2B3bAX5b%2BdB1PENXDK4kJs59ilF5SZXT283TWfhJwVscqyRKqZ47%2FDUVRKJ1%2FtyBOaxPNKONA%2F460W175LgvkOrG3SsyRpJ5WNw4D4DZMCu0jTFb%2BybQWGNViOl1ubppB36GBio6vWF0AHLjXZylD3EDs2w7EW2KPPMk5ELsw%2F%2BWdg8Aq2sCVV%2FNWRR0JZ2xYV9L1BSGGLYH0tXsvCLUFAlh88jq4%2FZ1eZXcXEx8sX%2BORoMIDzPucp7rp%2FAkrn1uQNhKuWMNDZjODBqefMHb7%2FuuAQffB%2FEZ631054gkvOx%2FgQ%3D" type='video/mp4' />
            </video>
          </div>

            <p id="browser-compatibility" style="color:white;display:none">
            We currently provide only H264 videos. Please use <a href="http://www.apple.com/safari/download/" target="_blank">Safari 3.1+</a> or <a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home" target="_blank">IE 9.0+</a> to watch videos.
            </p>
        </div>
      </div>
    </div>
    <div class="span3" style="margin-top:20px">
      <div class="row-fluid">
        <h3 style="color:white">Default properties</h3>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Session:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.id %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Version:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Build:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_build %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Locale:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_locale %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Duration:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.duration %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Date:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= session_time_in_words @app_session.created_at %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Device:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.device_hw_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Device OS:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.device_os_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Connectivity:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_connectivity %></div>
      </div>
      <hr />
      <div class="row-fluid">
        <h3 style="color:white">Custom properties</h3>
      </div>
      <% @app_session.properties.each do |property| %>
      <div class="row-fluid">
        <div class="span7"><h6><%= property.key %>:</h6></div><br>
        <div class="span7 pull-right" style="color:white"><%= property.value %></div><br>
      </div>
      <% end %>
      <br />
      <div class="row">
        <div class="span3">
          <!--
          <%= link_to 'Favorite', app_session_favorite_path(:app_session_id => @app_session.id), :method => :put, :remote => true, :class => "btn" %>
          -->
          <% if @is_admin %>
            <%= link_to raw('Share'), new_invitation_path(:app_id => @app_session.app.id, :app_session_id => @app_session.id), :class => "btn btn-success", :style => "color:white", :id => "app-session-show-invite-viewer" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var player = $("#videos-container").acornMediaPlayerParallel();
    var player_width = player.width();
    var player_height = player.height();
    $("#rotate-0").click(function(eventObj) {
      $(".track-video").css('-moz-transform', 'rotate(0deg)');
      $(".track-video").css('-webkit-transform', 'rotate(0deg)');
      $(".track-video").css('-o-transform', 'rotate(0deg)');
      $(".track-video").css('-ms-transform', 'rotate(0deg)');
      $(".track-video").css('transform', 'rotate(0deg)');
      $(".track-video").each(function(index, el) {
        $el = $(el);
        $el.attr({ 'height': player_height });
      });
    });
    $("#rotate-90").click(function(eventObj) {
      $(".track-video").css('-moz-transform', 'rotate(90deg)');
      $(".track-video").css('-webkit-transform', 'rotate(90deg)');
      $(".track-video").css('-o-transform', 'rotate(90deg)');
      $(".track-video").css('-ms-transform', 'rotate(90deg)');
      $(".track-video").css('-moz-transform', 'rotate(90deg)');
      $(".track-video").each(function(index, el) {
        $el = $(el);
        $el.attr({ 'height': (player_width / 2) });
      });
    });
    $("#rotate-180").click(function(eventObj) {
      $(".track-video").css('-moz-transform', 'rotate(180deg)');
      $(".track-video").css('-webkit-transform', 'rotate(180deg)');
      $(".track-video").css('-o-transform', 'rotate(180deg)');
      $(".track-video").css('-ms-transform', 'rotate(180deg)');
      $(".track-video").css('transform', 'rotate(180deg)');
      $(".track-video").each(function(index, el) {
        $el = $(el);
        $el.attr({ 'height': player_height });
      });
    });
    $("#rotate--90").click(function(eventObj) {
      $(".track-video").css('-moz-transform', 'rotate(-90deg)');
      $(".track-video").css('-webkit-transform', 'rotate(-90deg)');
      $(".track-video").css('-o-transform', 'rotate(-90deg)');
      $(".track-video").css('-ms-transform', 'rotate(-90deg)');
      $(".track-video").css('transform', 'rotate(-90deg)');
      $(".track-video").each(function(index, el) {
        $el = $(el);
        $el.attr({ 'height': (player_width / 2) });
      });
    });
    $("#app-session-show-invite-viewer").colorbox({
      iframe: true,
      transition:"none",
      width:"550px",
      height:"500px"
    });
  });
  $(document).bind('cbox_open', function() {
    $("#app-session-show-invite-viewer").text('Processing...');
  });
  $(document).bind('cbox_complete', function() {
    $("#app-session-show-invite-viewer").text('Share');
  });
  if ($.browser['mozilla']) { // to do check IE and version
    $("#browser-compatibility").show();
  }
</script>
