<%# App Session View %>
<div class="container app-session-view" >
  <div class="row">
    <div class="span8 session-video">
          <div class="video-container">
            <!--  class="track-video" id="presentation-track-video" controls="controls" autoplay -->
            <video id="app-session-video" class="video-js vjs-delight-skin" controls preload="auto" data-gesture-track="<%= @app_session.gesture_track.presigned_read_uri %>" data-duration="<%= @app_session.duration.to_f %>" width="480" height="480">
            <source src="<%= @track.presigned_read_uri if @track and @track.presigned_read_uri %>" type='video/mp4' >
            Your browser does not support video tag.
            </video>
            <p id="browser-compatibility" style="color:white;display:none">
            You are now viewing the flash version, for full experience, please use any H264 compatible browser <a href="www.google.com/chrome" target="_blank">Google Chrome</a>,<a href="http://www.apple.com/safari/download/" target="_blank">Apple Safari 3.1+</a>,<a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home" target="_blank">IE 9.0+</a> to watch videos.
            </p>
            
           </div>      
        
    </div>
    <div class="span4 session-meta">
      <ul class="nav nav-pills">
        <li class="active"><a href="#session-props" data-toggle="pill">Properties</a></li>
        <li><a href="#session-events" data-toggle="pill">Events</a></li>
      </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="session-props">
          <!-- <h3>Properties</h3> -->
          <table class="table">
            <tr>
              <th class="meta-entity">Session:</th>
              <td class="meta-data"><%= @app_session.id %></td>
            </tr>
            <tr>
              <th class="meta-entity">Version:</th>
              <td class="meta-data"><%= @app_session.app_version %></td>
            </tr>
            <tr>
              <th class="meta-entity">Build:</th>
              <td class="meta-data"><%= @app_session.app_build %></td>
            </tr>
            <tr>
              <th class="meta-entity">Locale:</th>
              <td class="meta-data"><%= @app_session.app_locale %></td>
            </tr>
            <tr>
              <th class="meta-entity">Duration:</th>
              <td class="meta-data"><%= @app_session.duration %></td>
            </tr>
            <tr>
              <th class="meta-entity">Date:</th>
              <td class="meta-data"><%= session_time_in_words @app_session.created_at %></td>
            </tr>
            <tr>
              <th class="meta-entity">Device:</th>
              <td class="meta-data"><%= @app_session.device_hw_version %></td>
            </tr>
            <tr>
              <th class="meta-entity">Device OS:</th>
              <td class="meta-data"><%= @app_session.device_os_version %></td>
            </tr>
            <tr>
              <th class="meta-entity">Connectivity:</th>
              <td class="meta-data"><%= @app_session.app_connectivity %></td>
            </tr>
          </table>

          <hr />
        </div>

        <div class="tab-pane" id="session-events">
          <!-- <h3>Events</h3> -->
          <table class="table">
          
          <% @app_session.events_with_time.each do |session_event| %>
            <tr>
              <th class="event-time"><%= session_event[:time] %></th>
              <td class="event-data"><%= session_event[:name] %></td>
            </tr>
          <% end %>

          </table>

          <hr />
        </div>
      </div>

      <% if @is_admin %>
        <%= link_to raw('Share'), new_invitation_path(:app_id => @app_session.app.id, :app_session_id => @app_session.id), :class => "btn btn-success", :style => "color:white", :id => "app-session-show-invite-viewer" %>
      <% end %>
      <a href="<%= @track.presigned_read_uri if @track and @track.presigned_read_uri %>" target="_blank" class="btn btn-primary">Download</a>

    </div>
  </div>
</div>
<script>

  $(function() {
    $("#app-session-show-invite-viewer").colorbox({
      iframe: true,
      transition:"none",
      width:"550px",
      height:"500px"
    });


    $(document)
      .bind('cbox_open', function() {
      $("#app-session-show-invite-viewer").text('Processing...');
    })
      .bind('cbox_complete', function() {
      $("#app-session-show-invite-viewer").text('Share');
    });
      
    if (!Modernizr.video || (Modernizr.video && !Modernizr.video.h264)) { // we have proper way to do that
      $("#browser-compatibility").show();
    }
    var $vid = $("#app-session-video");
    var vid = vjs($vid[0]);
    vid.cuepoints({url: $vid.data("gesture-track"), duration: $vid.data("duration") });
  });
</script>
