<div class="container" style="width:100%">
  <div class="row">
    <div class="span9">
      <div class="row" style="margin-left:0px;">
        <div class="span9" style="text-align:center;overflow:hidden">
          <div class="video-container" style="width:100%">
            <video class="track-video" id="presentation-track-video" style="width:100%;max-height:80%;max-width:100%;float:left" controls="controls" autoplay>
            <source src="<%= @track.presigned_read_uri if @track and @track.presigned_read_uri %>" type='video/mp4' />
            Your browser does not support video tag.
            </video>
          </div>
            <p id="browser-compatibility" style="color:white;display:none">
            We currently provide only H264 videos. Please use <a href="http://www.apple.com/safari/download/" target="_blank">Safari 3.1+</a> or <a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home" target="_blank">IE 9.0+</a> to watch videos.
            </p>
          <!--/div-->
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="row-fluid">
        <h3 style="color:white; margin-top:10px;">Properties</h3>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Session:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.id %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Version:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Build:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_build %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Locale:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_locale %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Duration:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.duration %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Date:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= session_time_in_words @app_session.created_at %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Device:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.device_hw_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Device OS:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.device_os_version %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><h6>Connectivity:</h6></div>
        <div class="span5 pull-right" style="color:white"><%= @app_session.app_connectivity %></div>
      </div>

      <hr />

      <% if @is_admin %>
        <%= link_to raw('Share'), new_invitation_path(:app_id => @app_session.app.id, :app_session_id => @app_session.id), :class => "btn btn-success", :style => "color:white", :id => "app-session-show-invite-viewer" %>
      <% end %>
      <a href="<%= @track.presigned_read_uri if @track and @track.presigned_read_uri %>" target="_blank" class="btn btn-primary">Download</a>

    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var player = $(".track-video").acornMediaPlayer();
    console.log($(player));
    $("#rotate-0").click(function(eventObj) {
      $("#presentation-track-video").css('-moz-transform', 'rotate(0deg)');
      $("#presentation-track-video").css('-webkit-transform', 'rotate(0deg)');
      $("#presentation-track-video").css('-o-transform', 'rotate(0deg)');
      $("#presentation-track-video").css('-ms-transform', 'rotate(0deg)');
      $("#presentation-track-video").css('transform', 'rotate(0deg)');
    });
    $("#rotate-90").click(function(eventObj) {
      $("#presentation-track-video").css('-moz-transform', 'rotate(90deg)');
      $("#presentation-track-video").css('-webkit-transform', 'rotate(90deg)');
      $("#presentation-track-video").css('-o-transform', 'rotate(90deg)');
      $("#presentation-track-video").css('-ms-transform', 'rotate(90deg)');
      $("#presentation-track-video").css('transform', 'rotate(90deg)');
    });
    $("#rotate-180").click(function(eventObj) {
      $("#presentation-track-video").css('-moz-transform', 'rotate(180deg)');
      $("#presentation-track-video").css('-webkit-transform', 'rotate(180deg)');
      $("#presentation-track-video").css('-o-transform', 'rotate(180deg)');
      $("#presentation-track-video").css('-ms-transform', 'rotate(180deg)');
      $("#presentation-track-video").css('transform', 'rotate(180deg)');
    });
    $("#rotate--90").click(function(eventObj) {
      $("#presentation-track-video").css('-moz-transform', 'rotate(-90deg)');
      $("#presentation-track-video").css('-webkit-transform', 'rotate(-90deg)');
      $("#presentation-track-video").css('-o-transform', 'rotate(-90deg)');
      $("#presentation-track-video").css('-ms-transform', 'rotate(-90deg)');
      $("#presentation-track-video").css('transform', 'rotate(-90deg)');
    });
    $("#app-session-show-invite-viewer").colorbox({
      iframe: true,
      transition:"none",
      width:"550px",
      height:"500px"
    });
  });
  $(document).bind('cbox_open', function() {
    $("#app-session-show-invite-viewer").text('Processing...');
  });
  $(document).bind('cbox_complete', function() {
    $("#app-session-show-invite-viewer").text('Share');
  });
  if ($.browser['mozilla']) { // to do check IE and version
    $("#browser-compatibility").show();
  }
</script>
