<%= simple_form_for(@user, :as => :user, :url => user_path(@user), :method => :put, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
		<div class="alert alert-error fade in" data-alert="alert">
		  <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </div>
  <% end %>

  <%= f.input :nickname %>
  <%= f.input :email, :required => true %>
  <%= f.input :signup_step, :as => :hidden, :value => 2 %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => 'Save' %>
  </div>
<% end %>
