<%= simple_form_for(@user, :as => :user, :url => user_signup_info_update_path(:user_id => @user.id), :method => :put, :html => { :class => "form-horizontal" }) do |f| %>
  <%= f.input :nickname, :placeholder => 'Your name in this site and emails' %>
  <%= f.input :email, :placeholder => 'Contact email', :required => true %>
  <%= f.simple_fields_for :account do |account_fields| %>
    <%= account_fields.input :name, :label => 'Account Name', :placeholder => 'Your company name' %>
    <%= account_fields.simple_fields_for :apps do |apps_fields| %>
      <%= apps_fields.input :name, :label => 'App name', :placeholder => 'Your iOS application name', :hint => 'You can add more apps later' %>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => 'Save' %>
  </div>
<% end %>
