<h1>Pay as you go</h1>
<br/>
<h2>First <%= Account::FreeCredits %> credits are on us!</h2>
<p>Please select a plan from below:</p>
<div class="row">
  <% PAYMENT_CONFIG['plans'].each do |payment| %>
    <a href="/apps?credit=<%= payment['name'] %>" class="span3 btn" style="margin-bottom: 15px">
    <h3><%= payment['display'] %></h3>
    <br/>
    <p>
    <span style="font-size:xx-large">$<%= payment['price'] %></span>
    <br/><br/>
    per <%= "#{pluralize(payment['credit'], 'credit')}" %>
    </p>
  </a>
  <% end %>
</div>
<div class="row">
  <div class="span10">
    <div class="alert alert-info">
      * 1 credit per recording<br/>
      * All transaction in USD and we accept all common credit cards
    </div>
  </div>
</div>
