<div class="row">
  <div class="span12">
    <h1>
      <div style="font-size:180%">
        Get insights for $10 an hour
      </div>
    </h1>
    <br>
    <h1>
      <div style="font-size:180%">
        from <i>actual</i> users.
      </div>
    </h1>
    <br>
  </div>
</div>
<br>

<div class="row">
  <div class="span7 well">
    &nbsp;
    <table class="table" style="font-size:large">
      <thead>
        <tr>
          <th>Plan</th>
          <th>Monthly quota</th>
          <th>Monthly cost</th>
        </tr>
      </thead>
      <tbody>
        <% SubscriptionPlans.reverse_each do |plan| %>
        <tr>
          <td width="100"><%= plan.name %></td>
          <td width="100"><%= "#{number_with_delimiter(plan.quota/1.hours)} hours" %></td>
          <td width="80"><%= number_to_currency(plan.price_in_dollars, precision: 0) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div style="font-size:large;padding-left:8px;">
      All standard <a href="/features" target='_blank'>features <i class='icon-share'></i></a> and 100% satisfaction guarantee.
    </div>
  </div>
</div>
<br>

<h2>Start recording with our free plan now</h2>
<span style="font-size:large">
  No credit card required. 1 hour of recording free each month.
</span>
<br><br>
<%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
<span style="font-size:large">or&nbsp;</span>
<%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
<br><br><br>

<span style="font-size:large">
  <strong>Questions?</strong> <a href="mailto:pricing@delight.io"> Email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
</span>