<div class="row">
  <div class="span12">
    <h1><span style="font-size:180%">
      Pay as you go.</span>
    </h1>
    <br>
    <h1>
      <div style="font-size:180%">
        100% Satisfaction Guarantee.
      </div>
    </h1>
    <br>
    <br>
  </div>
</div>

<h2>Select a package below:</h2><br/>
<div class="row-fluid center">
  <% (PAYMENT_CONFIG['subscription_plans']).each do |payment| %>
  <a href="/apps?credit=<%= payment['name'] %>" class="span3 btn" style="margin-bottom: 15px">
    <h3><%= payment['display'] %></h3>
    <br><br>
    <p>
      <span style="font-size:400%">$<%= payment['price'] %></span>
      <span style="font-size:large">
        <br>
        monthly<br><br>
        for <strong><%= "#{pluralize(payment['credit'], 'credit')}" %></strong>
      </span>
    </p>
    <% if payment['name'] == 'volume' %>
      <p>
        <span style="font-size:large;font-style:italic">Best Deal!</span>
      </p>
    <% end %>
  </a>
  <% end %>

  <% PAYMENT_CONFIG['plans'].reverse_each do |payment| %>
  <a href="/apps?credit=<%= payment['name'] %>" class="span3 btn" style="margin-bottom: 15px">
    <h3><%= payment['display'] %></h3>
    <br><br>
    <p>
      <span style="font-size:400%">$<%= payment['price'] %></span>
      <br/><br/>
      <span style="font-size:large">
        for <strong><%= "#{pluralize(payment['credit'], 'credit')}" %></strong>
      </span>
    </p>
  </a>
  <% end %>
</div>
<div class="row-fluid">
  <div class="span10">
    <span style="font-size:large">
      <strong>Questions?</strong> <a href="mailto:pricing@delight.io"> Email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
    </span>
    <br><br>
    <div class="well">
      <ul>
        <li>All plans come with full set of <a href="/features" target='_blank'>features <i class='icon-share'></i></a></li>
        <li>1 credit per recorded session.</li>
        <li>Purchased credits never expire.</li>
        <li>Credits can be used on multiple apps under the same account.</li>
        <li>All transaction are in USD and we accept all common credit cards.</li>
        <li>For refund, please email us at <a href="mailto:pricing@delight.io">pricing@delight.io</a>.</li>
      </ul>
    </div>
  </div>
</div>