<div class="row">
  <div class="span12">
    <h1>
      <div style="font-size:180%">
        Get insights for $10 an hour.
      </div>
    </h1>
    <br>
    <br>
  </div>
</div>
<span style="font-size:large">
  All plans comes with full set of <a href="/features" target='_blank'>features <i class='icon-share'></i></a> and 100% satisfaction guarantee.
</span>
<br><br>
<div class="row-fluid" align="center">
  <% SubscriptionPlans.reverse_each do |plan| %>
    <div class="span3">
      <a href="/subscriptions/new?plan_id=<%= plan.id %>" class="btn" style="width: 80%; margin-bottom: 15px">
        <br>
        <span style="font-size:150%;font-style:italic"><%= plan.name %></span>
        <br><br><br>
        <div style="font-size:180%">
          <p>
            Record<br><br><br>
            <span style="font-size:150%;font-bold;"><%= pluralize(plan.quota/1.hours, "hour") %></span>
            <br><br><br>
            for
            <br><br><br>
            <span style="font-size:120%">$<%= plan.price %></span> /month
          </p>
        </div>
      </a>
    </div>
  <% end %>
</div>
<br>
<h2>Get started with our free plan</h2>
<span style="font-size:large">
  No credit card required. 1 hour of recording free each month.
</span>
<br><br>
<%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
<span style="font-size:large">or&nbsp;</span>
<%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
<br><br><br>

<span style="font-size:large">
  <strong>Questions?</strong> <a href="mailto:pricing@delight.io"> Email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
</span>