<div class="row">
  <div class="span4" style="margin-left:-30px">

<%= simple_form_for(@group_invitation, :url => invitations_path, :html => { :id => 'invitation-form', :class => "form-horizontal"}, :remote => true) do |f| %>
  <fieldset>
  <%= f.input :emails, :as => :string, :placeholder => 'Comma seperated list of emails', :input_html => { :class => :span4 } %>
  <%= f.input :message, :as => :text, :input_html => { :rows => 6, :class => :span4 } %>
  <%= f.input :app_id, :as => :hidden %>
  <%= f.input :app_session_id, :as => :hidden %>
  <%= f.button :submit, :class => 'btn btn-large btn-primary', :id => 'invitation-send-btn', :value => 'Send' %>
  </fieldset>
<% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    function disableInvitationForm(state) {
      // disable send button
      $('#invitation-send-btn').attr('value', state);
      $('#invitation-send-btn').attr('disabled', 'disabled');
      // disable input fields
      $('#invitation-form input').each(function(key, value) {
        $(value).attr('disabled', 'disabled');
      });
      // disable textareas
      $('#invitation-form textarea').each(function(key, value) {
        $(value).attr('disabled', 'disabled');
      });
    }

    function enableInvitationForm(state) {
      // disable send button
      $('#invitation-send-btn').attr('value', state);
      $('#invitation-send-btn').removeAttr('disabled');
      // disable input fields
      $('#invitation-form input').each(function(key, value) {
        $(value).removeAttr('disabled');
      });
      // disable textareas
      $('#invitation-form textarea').each(function(key, value) {
        $(value).removeAttr('disabled');
      });
    }

    $("#invitation-form")
    .bind('ajax:beforeSend', function() {
      disableInvitationForm('Sending...');
    })
    .bind('ajax:success', function(event, data) {
      if (data['result'] == 'success') {
        displayErrorMessage('alert-success', 'Invitation is sent successfully');
      } else {
        displayErrorMessage('alert-error', 'Failed to send invitation. Please try again');
      }
    })
    .bind('ajax:failure', function() {
      displayErrorMessage('alert-error', 'Failed to send invitation. Please try again');
    })
    .bind('ajax:complete', function() {
      enableInvitationForm('Send');
    })
  });
</script>
