    <div class="span9" id="app-view-app-sessions">
      <% unless @recorded_sessions.blank? %>
      <% @recorded_sessions.each do |session| %>
      <div class="row">
        <div class="span4">
          <% if favorite_ids.include?(session.id) %>
            <%= link_to raw('<i class="icon-star"></i>'), app_session_unfavorite_path(:app_session_id => session.id), :method => :put, :remote => true, :class => "float-l star app-session-unfavorite-btn", :'data-session-id' => session.id %>
          <% else %>
            <%= link_to raw('<i class="icon-star-empty"></i>'), app_session_favorite_path(:app_session_id => session.id), :method => :put, :remote => true, :class => "float-l star app-session-favorite-btn", :'data-session-id' => session.id %>
          <% end %>
          <ul class="thumbnails" style="margin-bottom:0">
            <li class="span3">
              <a href=<%= app_session_path(session) %> class="thumbnail group-video">
                <img src=<%= session.presentation_track.thumbnail.presigned_read_uri %> alt="">
              </a>
            </li>
          </ul>
        </div>
        <div class="span2 ml-0">
          <table style="width:100%">
            <tbody>
              <tr>
                <td>Session:</td>
                <td class="align-r"><%= session.id %></td>
              </tr>
              <tr>
                <td>Version:</td>
                <td class="align-r"><%= session.app_version %></td>
              </tr>
              <tr>
                <td>Build:</td>
                <td class="align-r"><%= session.app_build %></td>
              </tr>
              <tr>
                <td>Locale:</td>
                <td class="align-r"><%= session.app_locale %></td>
              </tr>
              <tr>
                <td>Duration:</td>
                <td class="align-r"><%= session.duration %> s</td>
              </tr>
              <tr>
                <td>Date:</td>
                <td class="align-r"><%= session.created_at.to_date %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span2">
          <table style="width:100%">
            <tbody>
              <tr>
                <td>Device:</td>
                <td class="align-r"><%= session.device_hw_version %></td>
              </tr>
              <tr>
                <td>Device OS:</td>
                <td class="align-r"><%= session.device_os_version %></td>
              </tr>
              <tr>
                <td>Connectivity:</td>
                <td class="align-r"><%= session.app_connectivity %></td>
              </tr>
              <% session.properties.each do |property| %>
              <tr>
                <td><%= property.key %>:</td>
                <td class="align-r"><%= property.value %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div><!--/row-->

      <hr style="margin:0 0 20px 0" />

      <% end %>
      <% end %>
      <div class="row">
        <div class="span7" style="text-align:center">
          <%= paginate @recorded_sessions %>
        </div>
      </div>
    </div>

    <script>
      function favorite_handler(event, data, status, xhr) {
        if (data['result'] == 'success') {
          // update ui
          var $target = $(event.target)
          var session_id = $target.attr('data-session-id');
          $target.html('<i class="icon-star"></i>');
          $target.removeClass('app-session-favorite-btn').addClass('app-session-unfavorite-btn');
          $target.attr('href', '/app_sessions/' + session_id + '/unfavorite');
          // rebind handler
          $target.unbind('ajax:success');
          $target.bind('ajax:success', unfavorite_handler);
          increment_favorite_count();
        }
      }
      function unfavorite_handler(event, data, status, xhr) {
        if (data['result'] == 'success') {
          // update ui
          var $target = $(event.target)
          var session_id = $target.attr('data-session-id');
          $target.html('<i class="icon-star-empty"></i>');
          $target.removeClass('app-session-unfavorite-btn').addClass('app-session-favorite-btn');
          $target.attr('href', '/app_sessions/' + session_id + '/favorite');
          // rebind handler
          $target.unbind('ajax:success');
          $target.bind('ajax:success', favorite_handler);
          decrement_favorite_count();
        }
      }
      function increment_favorite_count() {
        $count = $('#favorite-count');
        $count.html(parseInt($count.html()) + 1);
      }
      function decrement_favorite_count() {
        $count = $('#favorite-count');
        $count.html(parseInt($count.html()) - 1);
      }

      $(".app-session-favorite-btn").bind('ajax:success', favorite_handler)
      $(".app-session-unfavorite-btn").bind('ajax:success', unfavorite_handler);
    </script>
