    <div class="span9" id="app-view-app-sessions">
      <% if @recorded_sessions.blank? %>
        <div class="alert">
          No recorded app session or no match
        </div>
      <% else %>
        <div class="row">
          <% @recorded_sessions.each do |session| %>
            <div class="span2 app-session">
              <div class="thumbnails">
                <a href=<%= app_session_path(session) %> class="thumbnail group-video <%= (@app_session_id == session.id.to_s) ?  'default-open-video' : '' %>">
                  <img src="<%= session.presentation_track.thumbnail.presigned_read_uri %>"  alt="screen capture" class="sc-thumbnail">
                  <ul class="app-session-meta">
                    <li><i class="icon-time"></i>
                        <%= distance_of_time_in_words session.duration %>
                    </li>

                    <li><i class="icon-calendar"></i>
                        <%= session_time_in_words session.created_at %>
                    </li>

                    <li><i class="icon-exclamation-sign"></i>
                        <%= session.events.count %> events
                    </li>
                  </ul>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <div class="pull-right">
          <%= paginate @recorded_sessions, :remote => true %>
        </div>
      </div>
    </div>

    <script>
      function favorite_handler(event, data, status, xhr) {
        if (data['result'] == 'success') {
          // update ui
          var $target = $(event.target)
          var session_id = $target.attr('data-session-id');
          $target.html('<i class="icon-star"></i>');
          $target.removeClass('app-session-favorite-btn').addClass('app-session-unfavorite-btn');
          $target.attr('href', '/app_sessions/' + session_id + '/unfavorite');
          // rebind handler
          $target.unbind('ajax:success');
          $target.bind('ajax:success', unfavorite_handler);
          $target.data('tooltip').options.title = 'Remove this session from your favorites';
          $target.tooltip('hide');
          increment_favorite_count();
        }
      }
      function unfavorite_handler(event, data, status, xhr) {
        if (data['result'] == 'success') {
          // update ui
          var $target = $(event.target)
          var session_id = $target.attr('data-session-id');
          $target.html('<i class="icon-star-empty"></i>');
          $target.removeClass('app-session-unfavorite-btn').addClass('app-session-favorite-btn');
          $target.attr('href', '/app_sessions/' + session_id + '/favorite');
          // rebind handler
          $target.unbind('ajax:success');
          $target.bind('ajax:success', favorite_handler);
          $target.data('tooltip').options.title = 'Star this session.';
          $target.tooltip('hide');
          decrement_favorite_count();
        }
      }
      function increment_favorite_count() {
        $count = $('#favorite-count');
        $count.html(parseInt($count.html()) + 1);
      }
      function decrement_favorite_count() {
        $count = $('#favorite-count');
        $count.html(parseInt($count.html()) - 1);
      }
      
      $(".app-session-favorite-btn").bind('ajax:success', favorite_handler)
      $(".app-session-unfavorite-btn").bind('ajax:success', unfavorite_handler);

      $(".app-session-favorite-btn").tooltip({ 'title' : 'Star this session.' });
      $(".app-session-unfavorite-btn").tooltip({ 'title' : 'Remove this session from Starred.' });
    </script>
