    <div class="span9 app-sessions-view" id="app-view-app-sessions">
      <div class="row">
        <div class="action-bar pull-right">
        <%#  Every body view %>
        <%# <span>Some message</span> %>
        <%# Admin view %>
        <% if current_user == @app.account.administrator %>
          <span><%= link_to(raw("<span id='num-scheduled-recording'>" + @app.scheduled_recordings.to_s + "</span> Sessions Scheduled"), app_schedule_recording_edit_path(:app_id => @app.id), :id => 'app-schedule-recording') %></span>
          <%# link_to(new_invitation_path(:app_id => @app.id), :class => "btn", :id => "app-show-invite-viewer") do %>
            <!-- <i class="icon-envelope-alt" title="Email invitation to view recordings"></i> -->
          <%# end %>
          
        <% else %>
          <%# Show something to non admin user %>
          <%= app_admin_user = @app.account.administrator %>
          <span>App Admin: <a href="#"><img src="<%= app_admin_user.image_url ? app_admin_user.image_url : '/images/profile-pic.jpg' %>" width="20" height="20" alt="" class="user-pic"> <%= app_admin_user.nickname %> </a></span>
          
        <% end %>
        </div>
      </div>
      <% if @recorded_sessions.blank? %>
      <div class="row">
        <div class="alert">
          We have not received any recordings yet. <br>
          Note that our SDK uploads only when your app goes into background and<br>
          it takes a few seconds for our backend to process recently uploaded recordings.<br><br>

          Visit our <a href="/docs" target="_black">QuickStart guide <i class="icon-share"></i></a>
        </div>
      </div>
      <% else %>
        <div class="row">
          <% @recorded_sessions.each do |session| %>
            <div class="span2 app-session" data-session-id="<%=session.id%>">
              <div class="thumbnails">
                <a href="<%= app_session_path(session) %>" class="thumbnail group-video <%= (@app_session_id == session.id.to_s) ?  'default-open-video' : '' %> " >
                  <div class="thumbnail-wrapper">
                    <img src="<%= session.presentation_track.thumbnail.presigned_read_uri %>"  alt="screen capture" class="sc-thumbnail %>" >
                  </div>
                  <span class="app-session-info">
                    <span class="session-time">
                      <%= session.duration.to_f.to_time_format %>
                    </span>
                  </span>
                  <ul class="app-session-meta">

                    <li class="session-date"><i class="icon-calendar"></i>
                        <%= session_time_in_words(session.created_at) %>
                    </li>

                    <li class="session-event"><i class="icon-exclamation-sign"></i>
                        <%= session.events.count %> events
                    </li>
                  </ul>
                  <div class="app-session-ops">
                    <span class="session-fav"
                      data-favorite-url="/app_sessions/<%= session.id %>/favorite"
                      data-unfavorite-url="/app_sessions/<%= session.id %>/unfavorite">
                      <i class='<%=(session.favorited?) ? "favorited icon-star" : "not-favorited icon-star-empty"%>'></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <div class="pull-right">
          <%= paginate @recorded_sessions, :remote => true %>
        </div>
      </div>
    </div>

    <script>
      $(function(){
        $(".session-fav").on("click", ".not-favorited",function(e){
          e.preventDefault();
          e.stopPropagation();

          //favouritize
          var parent = $(e.delegateTarget);
          var star = $(this)
          var _url = parent.data("favorite-url");

          $.ajax({
             url: _url,
             type: 'PUT',
             success: function(data) {
               if(data.result === 'success'){
                  //parent.data("status", "favorited")
                  star.removeClass("not-favorited icon-star-empty").addClass("favorited icon-star")
               }
             }
          });
        }).on("click", ".favorited", function(e){
          e.preventDefault();
          e.stopPropagation();
          //defavouritize
          var parent = $(e.delegateTarget);
          var star = $(this)
          var _url = parent.data("favorite-url");

          $.ajax({
             url: _url,
             type: 'PUT',
             success: function(data) {
               if(data.result === 'success'){
                  //parent.data("status", "not-favorited")
                  star.removeClass("favorited icon-star").addClass("not-favorited icon-star-empty")
               }
             }
          });
      });

      //end
    });
    </script>
