  <div class="row">
    <div class="span12">
      <h2>Your Apps</h2>
      <%= link_to 'Create a new app', new_app_path, :class => "btn" %>
      <% if current_user.administrator? %>
        <% view_credit_button_text = current_user.account.subscribed_to_unlimited_plan? ? "Unsubscribe monthly subscription" : "Add credits / Subscribe monthly subscription" %>
        &nbsp;
        <% plan_text = current_user.account.subscribed_to_unlimited_plan? ? "volume" : @show_credit %>
        <%= link_to view_credit_button_text, account_view_credit_path(:account_id => current_user.account, :plan => plan_text), :class => "btn", :id => 'app-index-credit-btn' %>
      <% end %>

    </div>
  </div>
  <br>

<% if not current_user.administrator? %>
  <div class="row">
    <div class="span12">
      <div class="well">
        <h3>You do not have an account yet.</h3>
        <%= link_to "Create account", new_account_path, :class => "btn" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
  <%
    if not @admin_apps.blank?
      @admin_apps.each do |app|
  %>
      <div class="span4">
        <div class="well">
          <h3><%= link_to(app.name, app_path(app)) %></h3>
          <% if app.recording? %>
          <span class="label label-important">Recording...</span>
          <% end %>
          <br>
          <br>
          <ul class="unstyled">
            <li>App ID: <%= app.id %></li>
            <li>App Token: <code><%= app.token %></code></li>
            <li>Recorded Sessions: <%= app.app_sessions.recorded.count %></li>
            <% if app.emails.count > 1 %>
            <li>Shared with: <strong><%= app.emails.join(', ') %></strong></li>
            <% end %>
            <br>
            <li>
              <%= link_to 'Show', app, :class => "btn btn-primary" %>
              &nbsp;
              <%= link_to raw('Share'), new_invitation_path(:app_id => app.id), :class => "btn app-show-invite-viewer" %>
              &nbsp;
              <%= link_to 'Edit', edit_app_path(app), :class => "btn" %>
              &nbsp;
              <%= link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete, :class => "btn" %>
            </li>
          </ul>
        </div>
      </div>
  <%
      end
    end
  %>
  </div>
<% end %>

<% if not @viewer_apps.blank? %>
  <hr />
  <div class="row">
    <div class="span12">
      <h2>Shared Apps</h2>
    </div>
  </div><!--/row-->

  <div class="row">
    <% @viewer_apps.each do |app| %>
      <div class="span4">
        <div class="well">
          <h3><%= link_to(app.name, app_path(app)) %></h3>
          <% if app.recording? %>
          <span class="label label-important">Recording...</span>
          <% end %>
          <br>
          <br>
          <ul class="unstyled">
            <li>App ID: <%= app.id %></li>
            <li>Recorded Sessions: <%= app.app_sessions.recorded.count %></li>
            <li>
              <%= link_to 'Show', app, :class => "btn btn-primary" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $(".app-show-invite-viewer").colorbox({
        iframe: true,
        transition:"none",
        width:"550px",
        height:"500px"
    });
    var show_plan = '<%= @show_credit %>';
    $("#app-index-credit-btn").colorbox({
        iframe: true,
        transition:"none",
        width:"700px",
        height:"650px",
        open: show_plan ? true : false
    });
  });
</script>
