  <div class="row">
    <div class="span12">
      <h2>Your Apps</h2>
      <%= link_to 'Create a new app', new_app_path, :class => "btn" %>
      <% if current_user.administrator? %>
        <%= link_to 'Add credits', account_view_credit_path(:account_id => current_user.account, :plan => @show_credit), :class => "btn", :id => 'app-index-credit-btn' %>
      <% end %>

    </div>
  </div><!--/row-->
  <br>

      <!--
  <div class="row">
    <div class="span12">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Account name #1 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Switch account context</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-th-list"></i> Account name #2</a></li>
          <li><a href="#"><i class="icon-th-list"></i> Account name #3</a></li>
          <li><a href="#"><i class="icon-th-list"></i> Account name #4</a></li>
          <li class="divider"></li>
          <li><a href="accountnew.htm"><i class="icon-plus"></i> New account</a></li>
        </ul>
      </div>
      <br/>
      <div class="well">
        <h3><a href="app.htm">App name #1</a></h3>
        <ul class="unstyled">
          <li>App name: 1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
      <div class="well"><a href="app.htm">App name #2</a></div>
      <div class="well"><a href="app.htm">App name #3</a></div>
      <div class="well"><a href="app.htm">App name #4</a></div>
    </div>
  </div>
-->
<% if not current_user.administrator? %>
  <div class="row">
    <div class="span12">
      <div class="well">
        <h3>You do not have an account yet.</h3>
        <%= link_to "Create account", new_account_path, :class => "btn" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span12">
  <%
    if not @admin_apps.blank?
      @admin_apps.each do |app|
  %>
      <div class="well">
        <h3><%= link_to(app.name, app_path(app)) %></h3>
        <ul class="unstyled">
          <li>App ID: <%= app.id %></li>
          <li>App Token: <code><%= app.token %></code></li>
          <li>Recorded Sessions: <%= app.app_sessions.recorded.count %></li>
          <li>
            <%= link_to raw('Share'), new_invitation_path(:app_id => app.id), :class => "btn app-show-invite-viewer" %>
            &nbsp;
            <%= link_to 'Show', app, :class => "btn" %>
            &nbsp;
            <%= link_to 'Edit', edit_app_path(app), :class => "btn" %>
            &nbsp;
            <%= link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete, :class => "btn" %>
          </li>
        </ul>
      </div>
  <%
      end
    end
  %>
    </div>
  </div>
<% end %>

<% if not @viewer_apps.blank? %>
  <hr />
  <div class="row">
    <div class="span12">
      <h2>Shared Apps</h2>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="span12">
      <% @viewer_apps.each do |app| %>
      <div class="well">
        <h3><%= link_to(app.name, app_path(app)) %></h3>
        <ul class="unstyled">
          <li>App ID: <%= app.id %></li>
          <li>Recorded Sessions: <%= app.app_sessions.recorded.count %></li>
          <li>
            <%= link_to 'Show', app, :class => "btn" %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $(".app-show-invite-viewer").colorbox({
        iframe: true,
        transition:"none",
        width:"550px",
        height:"500px"
    });
    var show_plan = '<%= @show_credit %>';
    $("#app-index-credit-btn").colorbox({
        iframe: true,
        transition:"none",
        width:"700px",
        height:"650px",
        open: show_plan ? true : false
    });
  });
</script>
