  <div class="row">
    <div class="span12">
      <h2>Your Apps</h2>
      <%= link_to 'Create a new app', new_app_path, :class => "btn" %>
      <% if current_user.administrator? %>
        &nbsp;
        <%= link_to "Edit subscription plan", subscription_path(id:current_user.account.subscription.id), :class => "btn" %>
      <% end %>

    </div>
  </div>
  <br>

<% if not current_user.administrator? %>
  <div class="row">
    <div class="span12">
      <div class="well">
        <h3>You do not have an account yet.</h3>
        <%= link_to "Create account", new_account_path, :class => "btn" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
  <%
    if not @admin_apps.blank?
      @admin_apps.each do |app|
        scheduler = app.scheduler
  %>
      <div class="span4">
        <div class="well">
          <h3>
            <%= link_to(app.name, app_path(app)) %>
            <%= link_to 'Show', app, :class => "btn btn-primary pull-right" %>
          </h3>
          <% if scheduler.recording? %>
          <span class="label label-important">Recording...</span>
          <% end %>
          <br>
          <br>
          <ul class="unstyled">
            <li>App ID: <%= app.id %></li>
            <li>App Token: <code><%= app.token %></code></li>
            <% if app.emails.count > 1 %>
            <li>Shared with: <strong><%= app.emails.join(', ') %></strong></li>
            <% else %>
            <li> </li>
            <% end %>
            <br>
            </li>
              <%= link_to raw('Share'), new_invitation_path(:app_id => app.id), :class => "btn app-show-invite-viewer" %>
              &nbsp;
              <%= link_to 'Edit', edit_app_path(app), :class => "btn" %>
              &nbsp;
              <%= link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete, :class => "btn" %>
            </li>
          </ul>
        </div>
      </div>
  <%
      end
    end
  %>
  </div>
<% end %>

<% if not @viewer_apps.blank? %>
  <hr />
  <div class="row">
    <div class="span12">
      <h2>Shared Apps</h2>
    </div>
  </div><!--/row-->

  <div class="row">
    <% @viewer_apps.each do |app| %>
      <% scheduler = app.scheduler %>
      <div class="span4">
        <div class="well">
          <h3>
            <%= link_to(app.name, app_path(app)) %>
            <%= link_to 'Show', app, :class => "btn btn-primary pull-right" %>
          </h3>
          <% if scheduler.recording? %>
          <span class="label label-important">Recording...</span>
          <% end %>
          <br>
          <br>
          <ul class="unstyled">
            <li>App ID: <%= app.id %></li>
            <li>App Token: <code><%= app.token %></code></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $(".app-show-invite-viewer").colorbox({
        iframe: true,
        transition:"none",
        width:"550px",
        height:"500px"
    });
    var show_plan = '<%= @show_credit %>';
    $("#app-index-credit-btn").colorbox({
        iframe: true,
        transition:"none",
        width:"700px",
        height:"650px",
        open: show_plan ? true : false
    });
  });
</script>
