<div class="container" style="text-align:center">

  <%= render :partial => "shared/error_message" %>

  <div class="collapse in" id="title-group">
    <h1 style="margin-top: 15px; text-align: left;">Schedule sessions for <%= @app.name %></h1>
    <hr/>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <table width="95%">
        <tr>
          <td width="60%"><h2>Available credits: </h2></td>
          <% remaining_credits = @app.account.subscribed_to_unlimited_plan? ? "Unlimited" : @app.account.remaining_credits %>
          <td width="20%" id="remaining-credits" style="text-align: left;"><%= remaining_credits %></td>
          <td width="20%">
            <% if !@app.account.subscribed_to_unlimited_plan? %>
            <a href="javascript:void(0)" class="btn btn-success" data-toggle="collapse" data-target="#add-credit" id="add-credit-toggle-btn">Add credits</a>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="add-credit" class="collapse">
    <ul class="nav nav-tabs">
      <li id="credit-tab" class="active"><a href="#" onClick="showAddCredits();">Add credits</a></li>
      <li id="subscription-tab"><a href="#" onClick="showSubscription();">Monthly Subscription</a></li>
    </ul>

    <div id="add-credits">
      <%= render :partial => 'accounts/add_credit', :locals => { :account => @app.account, :plan => nil }  %>
    </div>

    <div id="monthly-subscription" style="display: none">
      <%= render :partial => 'accounts/subscribe', :locals => { :account => @app.account, :plan => nil }  %>
    </div>
  </div>


 <% if @app %>
    <div class="collapse in" id="schedule-recording-group" style="margin-top: 20px;">
    <%= form_for(@app, :url => app_schedule_recording_update_path(:app_id => @app.id), :html => { :class => "form-horizontal" }) do |f| %>
    <fieldset>
      <div class="row-fluid">
        <div class="span12">
          <table width="95%">
            <tr>
              <td width="60%"><h2>Schedule sessions:</h2></td>
              <td width="20%"><%= text_field_tag 'schedule_recording', @schedule_recording, :class => "input-small", :value => [@app.scheduled_recordings, 20].max %></td>
              <td width="20%"><%= f.submit "Schedule", :class => "btn btn-success", :style => "text-align:center" %></td>
            </tr>
          </table>
        </div>
      </div>
    </fieldset>
    <% end %>
    </div>
  <% end %>

  <div class="collapse in" id="description-group" style="margin-top: 20px;">
    <p style="text-align:left;">
      We will email you at <code><%= current_user.email %></code> when all scheduled sessions are received.
    </p>
    <div class="row">
      <div class="span3" style="text-align:left;">
        <%= check_box_tag 'wifi-only', '1', @app.uploading_on_wifi_only? %>
        Record and upload on Wifi connection only
      </div>
    </div>
  </div>
  <br />

</div>
<script>
  function setColorBoxSize(width, height) {
    parent.$.colorbox.resize({'width':width, 'height':height});
  }
  $("#add-credit").on('hide', function() {
    $("#add-credit-toggle-btn").html('Add credits');
    $("#description-group").collapse('show');
    $("#schedule-recording-group").collapse('show');
    setColorBoxSize(650, 350);
  });
  $("#add-credit").on('show', function() {
    $("#add-credit-toggle-btn").html('Close');
    $("#description-group").collapse('hide');
    $("#schedule-recording-group").collapse('hide');
    setColorBoxSize(700, 620);
  });
  $("#wifi-only").change(function(eventObj) {
    $target = $(eventObj.target);
    var check;
    if ($target.is(':checked')) {
      check = true;
    } else {
      check = false;
    }
    $.ajax({
      type: 'PUT',
      url: '/apps/<%= @app.id %>/upload_on_wifi_only?state=' + (check ? '1' : '0'),
    }).done(function(data, textStatus, jqXHR) {
    }).fail(function(jqXHR, textStatus) {
    });
  });
</script>

<script type="text/javascript">
  function showAddCredits() {
    $("#add-credits").show();
    $("#monthly-subscription").hide();
    $("#credit-tab").addClass("active");
    $("#subscription-tab").removeClass("active");
  }
  function showSubscription() {
    $("#add-credits").hide();
    $("#monthly-subscription").show();
    $("#credit-tab").removeClass("active");
    $("#subscription-tab").addClass("active");
  }

  $(document).ready(function(){

    if ("<%= @plan %>" == "volume") {
      showSubscription();
    } else {
      showAddCredits();
    }
  });
  </script>
