<div class="container" style="text-align:center">

  <%= render :partial => "shared/error_message" %>
  <div class="collapse in" id="description-group">
    <h1 style="margin-top: 15px">Schedule recordings for<br><%= @app.name %></h1>
    <hr/>
    <p>
      <strong>Free</strong> recording credits during our beta stage!
    </p>
    <p>
      We will email you at
      <code><%= current_user.email %></code><br>
      when all scheduled sessions are received.
    </p>
  </div>
  <div class="row">
    <div class="span3">
      Record and upload on Wifi connection only:
      <%= check_box_tag 'wifi-only', '1', @app.uploading_on_wifi_only? %>
    </div>
  </div>
  <br />
<!--
  <div class="row-fluid">
    <div class="span12">
      <span>Available credits: </span><span id="remaining-credits"><%= @app.account.remaining_credits %></span>
      <a href="javascript:void(0)" class="btn btn-success" data-toggle="collapse" data-target="#add-credit" id="add-credit-toggle-btn"><i class="icon-plus-sign icon-white"></i>&nbsp;Add</a>
    </div>
  </div>
  <br/>
 -->
  <div id="add-credit" class="collapse">
    <%= render :partial => 'accounts/add_credit', :locals => { :account => @app.account, :plan => nil }  %>
  </div>

  <% if @app %>
    <div class="collapse in" id="schedule-recording-group">
    <%= form_for(@app, :url => app_schedule_recording_update_path(:app_id => @app.id), :html => { :class => "form-horizontal" }) do |f| %>
    <fieldset>
      <div class="row-fluid">
        <div class="span12">
          Schedule recording: <%= text_field_tag 'schedule_recording', @schedule_recording, :class => "input-small", :value => [@app.scheduled_recordings, 20].max %>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="span12">
        <%= f.submit "Schedule", :class => "btn btn-primary btn-large", :style => "text-align:center" %>
        </div>
      </div>
    </fieldset>
    <% end %>
    </div>
  <% end %>
</div>
<script>
  function setColorBoxSize(width, height) {
    parent.$.colorbox.resize({'width':width, 'height':height});
  }
  $("#add-credit").on('hide', function() {
    $("#add-credit-toggle-btn").html('<i class="icon-plus-sign icon-white"></i>&nbsp;Add');
    $("#description-group").collapse('show');
    $("#schedule-recording-group").collapse('show');
    setColorBoxSize(500, 420);
  });
  $("#add-credit").on('show', function() {
    $("#add-credit-toggle-btn").html('<i class="icon-remove-sign icon-white"></i>&nbsp;Close');
    $("#description-group").collapse('hide');
    $("#schedule-recording-group").collapse('hide');
    setColorBoxSize(700, 570);
  });
  $("#wifi-only").change(function(eventObj) {
    $target = $(eventObj.target);
    var check;
    if ($target.is(':checked')) {
      check = true;
    } else {
      check = false;
    }
    $.ajax({
      type: 'PUT',
      url: '/apps/<%= @app.id %>/upload_on_wifi_only?state=' + (check ? '1' : '0'),
    }).done(function(data, textStatus, jqXHR) {
    }).fail(function(jqXHR, textStatus) {
    });
  });
</script>
