<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="span7">
      <h2>
        <a href=<%= apps_path %>><%= @app.account.name %></a>
        <span class="divider">/</span>
       <span class="font-normal"><%= @app.name %></span>
      </h2>
    </div>
    <div class="span5 align-r">
      <h3 class="font-normal" style="display:inline;vertical-align:middle;margin: 0 10px 0 0"><%= @app.scheduled_recordings %> Sessions Scheduled</h3>
      <%= link_to raw('<i class="icon-pause"></i> Pause Recording'), app_update_recording_path(:app_id => @app.id, :state => 'pause', :format => :json), :remote => true, :method => :put, :class => "btn btn-danger btn-large", :id => "app-show-pause-recording-btn" %>
      <%= link_to raw('<i class="icon-play"></i> Start Recording'), app_update_recording_path(:app_id => @app.id, :state => 'resume', :format => :json), :remote => true, :method => :put, :class => "btn btn-danger btn-large", :style => 'display:none', :id => "app-show-resume-recording-btn" %>
    </div>
  </div><!--/row-->
  <hr />
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"><a href="#">Feed<span class="badge badge-white pull-right">10</span></a></li>
          <li><a href="#">Favorites<span class="badge badge-inverse pull-right">3</span></a></li>
          <li><a href="#">Credits<span class="badge badge-inverse pull-right"><%= @app.account.remaining_credits %></span></a></li>
          <hr />
          <%= form_tag(app_path(@app, :format => :js), :remote => true, :method => :get, :id => 'app-show-query-form') do |f| %>
            <li class="nav-header">Versions</li>
            <li>
              <label class="checkbox">
                <input type="checkbox" id="app-show-versions-all" class="app-show-versions-checkbox" CHECKED> All <span class="badge pull-right"> <%= @app.app_sessions.count %></span>
              </label>
            </li>
            <% @versions.each do |version| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" class="app-show-versions-checkbox" name="versions[]" value="<%= version.app_version %>" CHECKED> <%= version.app_version %> <span class="badge pull-right"><%= version.count %></span>
              </label>
            </li>
            <% end %>
            <input type="hidden" name="versions[]" value=""/>
          <hr />
          <li class="nav-header">Duration <input type="text" name="duration" id="duration-amount" class="pull-right" /></li>
          <li>
            <div id="duration-range"></div>
          </li>
          <hr />
          <li class="nav-header">Date <input type="text" name="amount" id="date-amount" class="pull-right" /></li>
          <li>
            <div id="date-range"></div>
          </li>
          <input type="hidden" name="date-min" id="date-min" />
          <input type="hidden" name="date-max" id="date-max" />
          <input type="hidden" name="duration-min" id="duration-min" />
          <input type="hidden" name="duration-max" id="duration-max" />
        <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <%= render :partial => "app_sessions_list", :locals => { :app_sessions => @app_sessions } %>
  </div>
  <% content_for(:javascript) do %>
    <script>
    function querySessions() {
      $('#app-show-query-form').submit();
    }

    $(function() {
      $( "#duration-range" ).slider({
        range: true,
        min: <%= @default_duration_min %>,
        max: <%= @default_duration_max %>,
        values: [ <%= @default_duration_min %>, <%= @default_duration_max %> ],
        slide: function( event, ui ) {
          $( "#duration-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] + " minutes" );
          $( "#duration-min" ).val( ui.values[0] );
          $( "#duration-max" ).val( ui.values[1] );
          querySessions();
        }
      });
      $( "#duration-amount" ).val( $( "#duration-range" ).slider( "values", 0 ) + " - " + $( "#duration-range" ).slider( "values", 1 ) + " minutes" );
      $( "#duration-min" ).val( $( "#duration-range" ).slider( "values", 0 ) );
      $( "#duration-max" ).val( $( "#duration-range" ).slider( "values", 1 ) );
    });

    $(function() {
      $( "#date-range" ).slider({
        range: true,
        min: <%= @default_date_max %>,
        max: <%= @default_date_min %>,
        values: [ <%= @default_date_max %>, <%= @default_date_min %> ],
        slide: function( event, ui ) {
          $( "#date-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] + " days" );
          $( "#date-min" ).val( ui.values[1] );
          $( "#date-max" ).val( ui.values[0] );
          querySessions();
        }
      });
      $( "#date-amount" ).val( $( "#date-range" ).slider( "values", 0 ) + " - " + $( "#date-range" ).slider( "values", 1 ) + " days" );
      $( "#date-min" ).val( $( "#date-range" ).slider( "values", 1 ) );
      $( "#date-max" ).val( $( "#date-range" ).slider( "values", 0 ) );
    });

    $(document).ready(function(){
      $(".group-video").colorbox({rel:'group-video', transition:"none", width:"75%", height:"75%"});
      $("#app-show-versions-all").click(function(eventObj) {
        var $checkbox = $(eventObj.target);
        var checked = $checkbox.attr('checked');
        if (checked) {
          // check all
          $(".app-show-versions-checkbox").attr('checked', true);
        } else {
          // uncheck all
          $(".app-show-versions-checkbox").attr('checked', false);
        }
        //querySessions();
      });
      $(".app-show-versions-checkbox").click(function(eventObj) {
        querySessions();
      });

      $("#app-show-pause-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-pause-recording-btn").hide();
          $("#app-show-resume-recording-btn").show();
        }
      });

      $("#app-show-resume-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-resume-recording-btn").hide();
          $("#app-show-pause-recording-btn").show();
        }
      });

    });
    </script>
  <% end %>

