  <div class="row">
    <div class="span5">
      <h2>
        <a href=<%= apps_path %>><%= @app.name %></a>
        <% if current_user == @app.account.administrator %>
        <span class="divider">/</span>
        <%= link_to 'Setup', 'javascript:void(0)', :id => 'app-setup-btn' %>
        <% end %>
      </h2>
    </div>

    <div class="span7 align-r">
      <h3 class="font-normal" style="display:inline;vertical-align:middle;margin: 0 10px 0 0"><%= link_to(raw("<span id='num-scheduled-recording'>" + @app.scheduled_recordings.to_s + "</span> Sessions Scheduled"), app_schedule_recording_edit_path(:app_id => @app.id), :id => 'app-schedule-recording') %></h3>

      <%= link_to raw('<i class="icon-pause"></i> Pause Recording'), app_update_recording_path(:app_id => @app.id, :state => 'pause', :format => :json), :remote => true, :method => :put, :class => "btn btn-danger btn-large", :id => "app-show-pause-recording-btn", :style => @app.recording_paused? ? 'display:none' : '' %>
      <%= link_to raw('<i class="icon-play"></i> Start Recording'), app_update_recording_path(:app_id => @app.id, :state => 'resume', :format => :json), :remote => true, :method => :put, :class => "btn btn-success btn-large", :id => "app-show-resume-recording-btn", :style => @app.recording_paused? ? '' : 'display:none' %>
    </div>

  </div><!--/row-->
  <hr />
  <div class="row">
    <div class="span3" style="min-height:1px">
      <div id="sticky-anchor"></div>
      <div class="well sidebar-nav" id="sticky">
        <ul class="nav nav-list">
          <li class="active" id="apps-all-btn">
            <a href="javascript:void(0)">Sessions
              <span class="badge badge-white pull-right">
                <%= @app.app_sessions.recorded.count %>
              </span>
            </a>
          </li>
          <li id="apps-favorite-btn">
            <a href="javascript:void(0)">Favorites
              <span class="badge badge-inverse pull-right" id="favorite-count">
                <%= @favorite_count %>
              </span>
            </a>
          </li>
          <!--li><a href="#">Credits<span class="badge badge-inverse pull-right"><%= @app.account.remaining_credits %></span></a></li-->
          <hr />
          <%= form_tag(app_path(@app, :format => :js), :remote => true, :method => :get, :id => 'app-show-query-form') do |f| %>
            <li class="nav-header">Properties</li>
            <li>
              <div class="input-prepend input-append">
                <span class="add-on"><i class="icon-search"></i></span>
                <input type="text" id="app-show-filter-input" class="menu-search-box search-query" name="properties" style="height:28px; box-sizing: border-box;" placeholder="key:value">
                <span class="add-on" id="app-show-filter-clear"><i class="icon-remove-sign"></i></span>
              </div>
            </li>
            <hr />
            <li class="nav-header">Versions</li>
            <!--
            <li>
              <label class="checkbox">
                <input type="checkbox" id="app-show-versions-all" class="app-show-versions-checkbox" CHECKED> All <span class="badge pull-right"> <%= @app.app_sessions.recorded.count %></span>
              </label>
            </li>
            -->
            <% @versions.each do |version| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" class="app-show-versions-checkbox" name="versions[]" value="<%= version.app_version %>" CHECKED> <%= version.app_version %> <span class="badge pull-right"><%= version.count %></span>
              </label>
            </li>
            <% end %>
            <input type="hidden" name="versions[]" value=""/>

            <li class="nav-header">Build</li>
            <% @builds.each do |build| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" class="app-show-builds-checkbox" name="builds[]" value="<%= build.app_build %>" CHECKED> <%= build.app_build %> <span class="badge pull-right"><%= build.count %></span>
              </label>
            </li>
            <% end %>
            <input type="hidden" name="builds[]" value=""/>

          <hr />
          <li class="nav-header">Duration <input type="text" name="duration" id="duration-amount" class="pull-right" /></li>
          <li>
            <div id="duration-range"></div>
          </li>
          <hr />
          <li class="nav-header">Date <input type="text" name="amount" id="date-amount" class="pull-right" /></li>
          <li>
            <div id="date-range"></div>
          </li>
          <hr />

          <li class="nav-header">Event Tracks</li>
          <% TrackTag.by_app(@app).each do |tag| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" class="app-show-eventtracks-checkbox" name="event_tracks[]", value="<%= tag.name %>"> <%= tag.name %> </input>
              </label>
            </li>
          <% end %>
          <label class="checkbox">
            <input type="checkbox" class="app-show-eventtracks-checkbox" name="event_tracks[]", value="item_purchased"> <%= "item_purchased" %> </input>
          </label>

          <input type="hidden" name="date-min" id="date-min" />
          <input type="hidden" name="date-max" id="date-max" />
          <input type="hidden" name="duration-min" id="duration-min" />
          <input type="hidden" name="duration-max" id="duration-max" />
          <input type="hidden" name="favorite" id="app-view-favorite" />
        <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <%= render :partial => "app_sessions_list", :locals => { :app_sessions => @app_sessions, :favorite_ids => @favorite_app_session_ids } %>
  </div>
  <% content_for(:javascript) do %>
    <script>
    function querySessions() {
      $('#app-show-query-form').submit();
    }

    $(function() {
      $( "#duration-range" ).slider({
        range: true,
        min: <%= @default_duration_min %>,
        max: <%= @default_duration_max %>,
        values: [ <%= @default_duration_min %>, <%= @default_duration_max %> ],
        slide: function( event, ui ) {
          $( "#duration-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] + " s" );
          $( "#duration-min" ).val( ui.values[0] );
          $( "#duration-max" ).val( ui.values[1] );
          querySessions();
        }
      });
      $( "#duration-amount" ).val( $( "#duration-range" ).slider( "values", 0 ) + " - " + $( "#duration-range" ).slider( "values", 1 ) + " s" );
      $( "#duration-min" ).val( $( "#duration-range" ).slider( "values", 0 ) );
      $( "#duration-max" ).val( $( "#duration-range" ).slider( "values", 1 ) );
    });

    $(function() {
      $( "#date-range" ).slider({
        range: true,
        min: <%= @default_date_max %>,
        max: <%= @default_date_min %>,
        values: [ <%= @default_date_max %>, <%= @default_date_min %> ],
        slide: function( event, ui ) {
          $( "#date-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] + " days" );
          $( "#date-min" ).val( ui.values[1] );
          $( "#date-max" ).val( ui.values[0] );
          querySessions();
        }
      });
      $( "#date-amount" ).val( $( "#date-range" ).slider( "values", 0 ) + " - " + $( "#date-range" ).slider( "values", 1 ) + " days" );
      $( "#date-min" ).val( $( "#date-range" ).slider( "values", 1 ) );
      $( "#date-max" ).val( $( "#date-range" ).slider( "values", 0 ) );
    });

    $(document).ready(function(){
      $(".group-video").colorbox({iframe: true, rel:'group-video', transition:"none", width:"800px", height:"600px"});
      $(".default-open-video").colorbox({iframe: true, rel:'default-group-video', transition:"none", width:"800px", height:"600px", open:true});
      $("#app-show-invite-viewer").colorbox({
        iframe: true,
        transition:"none",
        width:"550px",
        height:"500px"
      });
      $("#app-schedule-recording").colorbox({
        iframe: true,
        transition:"none",
        width:"650px",
        height:"350px",
        onClosed:function() {
          $.get('/apps/<%= @app.id %>.json',
          function(data) {
            $("#num-scheduled-recording").html(data['scheduled_recordings']);
          })
        }
      });
      <% if @setup %>
        $.colorbox({href: "<%= app_setup_path(:app_id => @app.id) %>", iframe: true, transition:"none", width:"600px", height:"450px"});
      <% end %>
      $("#app-setup-btn").colorbox({href: "<%= app_setup_path(:app_id => @app.id) %>", iframe: true, transition:"none", width:"600px", height:"450px"});
      $("#app-show-filter-input").keydown(function(event) {
        if (event.which == 13) {
          querySessions();
          event.preventDefault();
        }
      });
      $("#app-show-filter-clear").click(function(event) {
        $("#app-show-filter-input").attr("value", "");
        querySessions();
      });
      /*
      $("#app-show-versions-all").click(function(eventObj) { var $checkbox = $(eventObj.target); var checked = $checkbox.attr('checked');
        if (checked) {
          // check all
          $(".app-show-versions-checkbox").attr('checked', true);
        } else {
          // uncheck all
          $(".app-show-versions-checkbox").attr('checked', false);
        }
        //querySessions();
      });
      */
      $(".app-show-versions-checkbox").click(function(eventObj) {
        querySessions();
      });
      $(".app-show-builds-checkbox").click(function(eventObj) {
        querySessions();
      });
      $(".app-show-eventtracks-checkbox").click(function(eventObj) {
        querySessions();
      });

      $("#app-show-pause-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-pause-recording-btn").hide();
          $("#app-show-resume-recording-btn").show();
        }
      });

      $("#app-show-resume-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-resume-recording-btn").hide();
          $("#app-show-pause-recording-btn").show();
        }
      });

      $("#apps-all-btn").click(function(eventObj) {
        var $form = $("#app-show-query-form");
        $("#app-view-favorite").attr('value', 0);
        $("#apps-favorite-btn").removeClass('active');
        $("#apps-all-btn").addClass('active');
        querySessions();
      });
      $("#apps-favorite-btn").click(function(eventObj) {
        var $form = $("#app-show-query-form");
        $("#app-view-favorite").attr('value', 1);
        $("#apps-all-btn").removeClass('active');
        $("#apps-favorite-btn").addClass('active');
        querySessions();
      });

    });

    function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-anchor').offset().top;
      if (window_top > (div_top - 50))
        $('#sticky').addClass('stick')
      else
        $('#sticky').removeClass('stick');
    }

    $(function() {
      $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
    </script>
  <% end %>

