  <div class="row">
    <div class="span5">
      <h2>
        <a href=<%= apps_path %>><%= @app.name %></a>
        <% if current_user == @app.account.administrator %>
        <span class="divider">/</span>
        <%= link_to 'Setup', 'javascript:void(0)', :id => 'app-setup-btn' %>
        <% end %>
      </h2>
    </div>

    <div class="span7 align-r">
      <h3 class="font-normal" style="display:inline;vertical-align:middle;margin: 0 10px 0 0"><%= link_to(raw("<span id='num-scheduled-recording'>" + @app.scheduled_recordings.to_s + "</span> Sessions Scheduled"), app_schedule_recording_edit_path(:app_id => @app.id), :id => 'app-schedule-recording') %></h3>

      <%= link_to raw('<i class="icon-pause"></i> Pause Recording'), app_update_recording_path(:app_id => @app.id, :state => 'pause', :format => :json), :remote => true, :method => :put, :class => "btn btn-danger btn-large", :id => "app-show-pause-recording-btn", :style => @app.recording_paused? ? 'display:none' : '' %>
      <%= link_to raw('<i class="icon-play"></i> Start Recording'), app_update_recording_path(:app_id => @app.id, :state => 'resume', :format => :json), :remote => true, :method => :put, :class => "btn btn-success btn-large", :id => "app-show-resume-recording-btn", :style => @app.recording_paused? ? '' : 'display:none' %>
    </div>

  </div><!--/row-->
  <hr />
  <div class="row">
    <div class="span3" style="min-height:1px">
      <div id="sticky-anchor"></div>
      <div class="sidebar-nav" id="sticky">
        <ul class="nav nav-list">
          <li class="active" id="apps-all-btn">
            <a href="javascript:void(0)">Sessions
              <span class="badge badge-white pull-right">
                <%= @app.app_sessions.recorded.processed_after(@last_viewed_at).count %>
              </span>
            </a>
          </li>
          <li id="apps-favorite-btn">
            <a href="javascript:void(0)">Starred
              <span class="badge badge-inverse pull-right" id="favorite-count">
                <%= @favorite_count %>
              </span>
            </a>
          </li>
        </div>

          <hr />
          <%= form_tag(app_path(@app, :format => :js), :remote => true, :method => :get, :id => 'app-show-query-form') do |f| %>
            <ul class="nav nav-list" id="funnel-list">
              <% @app.funnels.each do |funnel| %>
                <% if funnel.id == params[:funnel].to_i %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <!-- <%= link_to funnel.name, app_path(@app, funnel: funnel), remote: true, class: "funnel-link" %> -->
                  <%= link_to(app_path(@app, funnel: funnel), remote: true, class: "funnel-link") do %>
                    <%= funnel.name %>
                    <% count = @app.app_sessions.by_funnel(funnel).processed_after(@last_viewed_at).length %>
                    <% if count > 0 %>
                    <span class="badge badge-black pull-right">
                      <%= count %>
                    </span>
                    <% end %>
                  <% end %>

                  <nav>
                    <%= link_to "Edit", [:edit, @app, funnel], class: 'btn btn-small', remote: true %>
                    <%= link_to "Destroy", [@app, funnel], :method => :delete, class: 'btn btn-danger btn-small', data: {confirm: "Are you sure?"} %>
                  </nav>
                  <div class="clear"></div>
                </li>
              <% end %>
              <br/>
              <li>
                <%= link_to "+ Create a filter", [:new, @app, :funnel], class: 'btn', remote: true %>
              </li>
            </ul>
            <input type="hidden" name="favorite" id="app-view-favorite" />
          <% end %>
        </ul>
    </div><!--/span-->
    <%= render :partial => "app_sessions_list", :locals => { :app_sessions => @app_sessions, :favorite_ids => @favorite_app_session_ids } %>

  </div>
  <% content_for(:javascript) do %>
    <script>
    function querySessions() {
      $('#app-show-query-form').submit();
    }

    $(function(){
      $('#funnel-list a').on('click', function(){
        $(this).closest('ul').find('li').removeClass('active');
        $(this).parent().addClass('active');
      });

      var funnelNav = $('#funnel-list nav');
      funnelNav.hide();
      $('#funnel-edit-link').on('click', function(e){
        funnelNav.toggle("slow");
        e.preventDefault();
      });
    });

    $(document).ready(function(){
      $(".group-video").colorbox({iframe: true, rel:'group-video', transition:"none", width:"800px", height:"600px"});
      $(".default-open-video").colorbox({iframe: true, rel:'default-group-video', transition:"none", width:"800px", height:"600px", open:true});
      $("#app-show-invite-viewer").colorbox({
        iframe: true,
        transition:"none",
        width:"550px",
        height:"500px"
      });
      $("#app-schedule-recording").colorbox({
        iframe: true,
        transition:"none",
        width:"650px",
        height:"350px",
        onClosed:function() {
          $.get('/apps/<%= @app.id %>.json',
          function(data) {
            $("#num-scheduled-recording").html(data['scheduled_recordings']);
          })
        }
      });
      <% if @setup %>
        $.colorbox({href: "<%= app_setup_path(:app_id => @app.id) %>", iframe: true, transition:"none", width:"600px", height:"450px"});
      <% end %>
      $("#app-setup-btn").colorbox({href: "<%= app_setup_path(:app_id => @app.id) %>", iframe: true, transition:"none", width:"600px", height:"450px"});
      $("#app-show-filter-input").keydown(function(event) {
        if (event.which == 13) {
          querySessions();
          event.preventDefault();
        }
      });
      $("#app-show-filter-clear").click(function(event) {
        $("#app-show-filter-input").attr("value", "");
        querySessions();
      });
      /*
      $("#app-show-versions-all").click(function(eventObj) { var $checkbox = $(eventObj.target); var checked = $checkbox.attr('checked');
        if (checked) {
          // check all
          $(".app-show-versions-checkbox").attr('checked', true);
        } else {
          // uncheck all
          $(".app-show-versions-checkbox").attr('checked', false);
        }
        //querySessions();
      });
      */
      $(".app-show-versions-checkbox").click(function(eventObj) {
        querySessions();
      });
      $(".app-show-builds-checkbox").click(function(eventObj) {
        querySessions();
      });
      $(".app-show-eventtracks-checkbox").click(function(eventObj) {
        querySessions();
      });

      $("#app-show-pause-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-pause-recording-btn").hide();
          $("#app-show-resume-recording-btn").show();
        }
      });

      $("#app-show-resume-recording-btn")
      .bind('ajax:success', function(event, data, status, xhr) {
        if (data["result"] == "success") {
          $("#app-show-resume-recording-btn").hide();
          $("#app-show-pause-recording-btn").show();
        }
      });

      $("#apps-all-btn").click(function(eventObj) {
        var $form = $("#app-show-query-form");
        $("#app-view-favorite").attr('value', 0);
        $("#apps-favorite-btn").removeClass('active');
        $("#apps-all-btn").addClass('active');
        querySessions();
      });
      $("#apps-favorite-btn").click(function(eventObj) {
        var $form = $("#app-show-query-form");
        $("#app-view-favorite").attr('value', 1);
        $("#apps-all-btn").removeClass('active');
        $("#apps-favorite-btn").addClass('active');
        querySessions();
      });

    });

    function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-anchor').offset().top;
      if (window_top > (div_top - 50))
        $('#sticky').addClass('stick')
      else
        $('#sticky').removeClass('stick');
    }

    $(function() {
      $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
    </script>
  <% end %>

