<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>Delight.io</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag("/stylesheets/screen.css", :media => 'screen')  %>
  <%= stylesheet_link_tag("/stylesheets/smoothness/jquery-ui-1.8.18.custom.css", :media => 'screen')  %>
  <%= stylesheet_link_tag("/stylesheets/font-awesome.css", :media => 'screen')  %>
  <%= stylesheet_link_tag("/stylesheets/colorbox.css", :media => 'screen')  %>
  <%= stylesheet_link_tag("/stylesheets/print.css", :media => 'print')  %>
  <!--[if IE]>
    <%= stylesheet_link_tag("/stylesheets/ie.css", :media => 'screen')  %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/topbar" %>
<div class="container">
  <%= render :partial => "shared/error_message" %>
  <%= yield %>
  <div class="row">
    <div class="span12">
      <br>
      <footer>
        <hr>
        <div class="span4">
          <a href="https://twitter.com/delightio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @delightio</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class='pull-right'>
          &#169;
          <%= Time.now.year %>
          delight.io
        </div>
      </footer>
    </div>
  </div>
</div><!--/.container-->
<%= javascript_include_tag "/javascripts/jquery.colorbox-min.js" %>
<%= yield(:javascript) %>

</body>
</html>
