<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>Delight</title>

  <%= stylesheet_link_tag "application" %>
  <!--[if IE]>
    <%= stylesheet_link_tag("/stylesheets/ie.css", :media => 'screen')  %>
  <![endif]-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  
</body>
</html>
