<div class="container" style="text-align:center">
  <br>
  <h1>Available credits: <span id="remaining-credits"><%= @account.remaining_credits %></span></h1>
  <hr/>

  <ul class="nav nav-tabs">
    <li id="credit-tab" class="<%= @plan == 'volume' ? '' : 'active' %>"><a href="#" onClick="showAddCredits();">Add credits</a></li>
    <li id="subscription-tab" class="<%= @plan == 'volume' ? 'active' : '' %>"><a href="#" onClick="showSubscription();">Monthly Subscription</a></li>
  </ul>

  <div id="add-credits" style="<%= @plan == 'volume' ? 'display: none' : '' %>">
    <%= render :partial => 'accounts/add_credit', :locals => { :account => @account, :plan => @plan }  %>
  </div>

  <div id="monthly-subscription" style="<%= @plan == 'volume' ? '' : 'display: none' %>">
    <%= render :partial => 'accounts/subscribe', :locals => { :account => @account, :plan => @plan }  %>
  </div>
</div>
<script type="text/javascript">

  function showAddCredits() {
    $("#add-credits").show();
    $("#monthly-subscription").hide();
    $("#credit-tab").addClass("active");
    $("#subscription-tab").removeClass("active");
  }
  function showSubscription() {
    $("#add-credits").hide();
    $("#monthly-subscription").show();
    $("#credit-tab").removeClass("active");
    $("#subscription-tab").addClass("active");
  }

  // $(document).ready(function(){

  //   if ("<%= @plan %>" == "volume") {
  //     showSubscription();
  //   } else {
  //     showAddCredits();
  //   }
  // });
</script>